<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reg.css">
</head>
<body>
    <form action="/" method="post">
        <div class="contain">
            <h1>Sign In</h1>
            <p>Please put the following details to Sign In</p>
            <hr>

            <p><label for="name"><b>Name</b></label></p>
            <input type="text" name="name" id="name" placeholder="Type your name here" required>

            <p><label for="Age"><b>Age</b></label></p>
            <input type="text" name="Age" id="Age" placeholder="Type your Age here" required>

            <label for="Gender"><b>Gender:</b></label>
             
            <!-- <input type="radio" name="gender" id="gender" required>
             Male
             
            <input type="radio" name="gender" id="gender" required>
             Female -->
            <input type="text" name="Gender" id="gender" placeholder="Type your Gender here" required>

            <p><label for="email"><b>Email Id</b></label></p>
            <input type="email" name="email" id="email" placeholder="Type your email here" required>
            

            <p><label for="pass">Create password</label></p>
            <input type="password" name="pass" id="pass" placeholder="Type your password here" required>
            
            <p><label for="pass-repeat">Re-enter password</label></p>
            <input type="password" name="pass-repeat" id="pass-repeat" placeholder="Type your password again" required>

            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
            
            
        </div>
    </form>
</body>
</html>