@media (max-width:501px) and (min-width:330px) {
    
    *,
    ::before,
    ::after {
        box-sizing: border-box;

    }
    .sidebar {
        width:0px;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(247, 242, 242);
        overflow-x: hidden;
        padding-top: 50px;
        transition: 0.5s;
    }

    .sidebar a {
        padding-top:10px;
        padding-left: 12px;
        padding-bottom: 20px;
        padding-right: 12px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        color: #3b3838;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0px;
        left:45%;
        right: 25px;
        margin-left: 32px;
        font-size: 35px;
    }

    .openbtn {
        font-size: 25px;
        cursor: pointer;
        color: rgb(20, 19, 19);
        padding: 8px 10px;
        border: none;
        text-decoration: none;
    }
    .openbtn:hover {
        border-radius: 60px;
        background-color: #e6e5e5;
        color:rgb(46, 45, 45);
    }

    .main {
        margin: 25px 15px;
    }

    #nav0 {
        position: absolute;
        top: 28px;
        left: 35vw;
        right: 12px;
        font-size: 25px;
        color:black;
        text-decoration: none;
        list-style: none;

    }

    .navigation a {
        text-decoration: none;
        color: #1f1d1d
    }

    .navigation li {
        font-size: 18px;
        ;
        list-style: none;
    }

    
    #nav1, #nav2, #nav3, #nav4 {
        display: none;
    }

    .carousel {
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: larger;
        margin-top: 10px;
        /* border: 2px solid black; */
        width: 100%;
        height: 150px;
        opacity: 1.0;
    }
    .first {
        background: url("photos/meeting.jpg") no-repeat center center/cover;
    }

    .second {
        background: url("photos/meet2.jpg") no-repeat center center/cover;
    }

    .third {
        background: url("photos/comp.jpg") no-repeat center center/cover;
    }

    .minitopic,.minitopic2,.minitopic3 {
        border: 2px solid rgb(7, 48, 78);
        background-color: rgb(7, 48, 78);
        width: 80%;
        /*18% of the width*/
        height: 280px;
        position:absolute;
        top: 230px;
        left: 10%;
        right:0;
    }
    
    .heading {
        padding: 5px 10px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 25px;
    }
    
    p {
        padding: 0px 10px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
    }
    
    .learn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: 'Noto Sans', sans-serif;
        /* padding:0px 32px; */
        margin-left: 65px;
        margin-top: 10px;
        border: 1px solid white;
        border-radius: 5px;
        border-style: dotted;
        height: 30px;
        width: 100px;
        cursor: pointer;
    }
    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 68px 5px;
        background-color: #ffffff;
        border-radius: 50%;
        display:flex;
        border: 1px solid black;
        
        transition: background-color 0.6s ease;
    }
    #d1 {
        position:absolute;
        top:485px;
        left:45vw;
        right:8px;
    }
    #d2 {
        position:absolute;
        top:485px;
        left:52vw;
        right:8px;
    }
    #d3 {
        position:absolute;
        top:485px;
        left:59vw;
        right:8px;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    #prev {
        display: flex;
        justify-content: center;
        width:5px;
        cursor: pointer;
        padding: 0 10px;
        position: absolute;
        font-size: 22px;
        top: 544px;
        /* adding the margins and absolute positions of minitopic and dots*/
        left: 30vw;
        right: 00px;
        color: rgb(17, 17, 134);
        opacity: 0.5;
    }

    /* Position the "next button" to the right */
    #next {
        display: flex;
        justify-content: center;
        width:5px;
        cursor: pointer;
        padding: 0 10px;
        position: absolute;
        font-size: 22px;
        top: 544px;
        /* adding the margins and absolute positions of minitopic and dots*/
        left: 65vw;
        right: 100px;
        color: rgb(17, 17, 134);
        opacity: 0.5;
    }

    #vbutton {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width:8px;
        padding: 0 8px;
        font-size: 20px;
        position: absolute;
        top: 548px;
        left: 37vw;
        right: 10px;
        opacity: 0.4;
    }

    #pause {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width:8px;
        padding: 0 8px;
        font-size: 20px;
        position: absolute;
        top: 550px;
        left: 37vw;
        right: 10px;
        opacity: 0.4;
    }

    /*hovering*/

    .navigation li:hover {
        color: rgb(31, 31, 148);
        text-decoration: underline;
        font-size: 20px;

    }

    #nav0:hover {
        text-decoration: none;
        color: rgb(22, 22, 61);
    }

    .learn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        border-style: dotted;
    }

    .more1:hover {
        color: rgb(209, 43, 43);
        text-decoration: underline;
        cursor: pointer;
    }

    .more2:hover {
        color: rgb(209, 43, 43);
        text-decoration: underline;
        cursor: pointer;
    }

    .more3:hover {
        color: rgb(209, 43, 43);
        text-decoration: underline;
        cursor: pointer;
    }

    /*end of hovering*/

    .topics {
        display: flex;
        flex-direction: column;
        margin-top: 400px;
        margin-left: 5px;
        margin-right: 15px;
        /* border: 2px solid black; */
        background-color: rgb(223, 223, 223);
        width: 91.5vw;
        height: 1190px;
    }

    .one,.two,.three {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* align-items: center; */
        padding: 12px 12px;
        /* border:2px solid red; */
        background-color: white;
        margin: 12px 15px;
        width: 83vw;
        height: 380px;
    }
    /*putting images in the div*/

    .img1 {
        display: flex;
        align-items: center;
        width: auto;
        padding: 25px 22px;
        margin-top: 10px;
        margin-right: 8px;
        margin-left: 8px;
        height: 100px;
        /* border:2px solid red; */
        background: url("photos/annual.jpg") no-repeat center center/cover;
        opacity: 1.2;
    }

    .img2 {
        display: flex;
        align-items: center;
        width: auto;
        padding: 25px 22px;
        margin-top: 10px;
        margin-right: 8px;
        margin-left: 8px;
        height: 100px;
        /* border:2px solid red; */
        background: url("photos/racial.jpg") no-repeat center center/cover;
        opacity: 1.2;

    }

    .img3 {
        display: flex;
        align-items: center;
        width: auto;
        padding: 25px 22px;
        margin-top: 10px;
        margin-right: 8px;
        margin-left: 8px;
        height: 100px;
        /* border:2px solid red; */
        background: url("photos/times-square.jpg") no-repeat center center/cover;
        opacity: 1.2;

    }

    h5 {
        padding: 0px 12px;
        font-size: 20px;
    }

    .p1,.p2,.p3 {
        padding: 0px 12px;
        font-size: 15px;
    }

    .more1 {
        padding: 2px 12px;
        margin-top: 60px;
        color: rgb(27, 84, 207);
        font-size: 15px;
    }

    .more2 {
        padding: 2px 12px;
        margin-top: 60px;
        color: rgb(27, 84, 207);
        font-size: 15px;
    }

    .more3 {
        padding: 2px 12px;
        margin-top: 60px;
        color: rgb(27, 84, 207);
        font-size: 15px;
    }

    /*Last part*/
    .last {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        /* border: 1px solid rgb(59, 59, 59) ; */
        background-color: rgb(59, 59, 59);
        width: 92vw;
        height: 970px;
    }

    .list {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 10px 5px;
        /* border:2px solid red; */
        /* background-color: white; */
        margin: 10px 12px;
        width: 250px;
        font-size: 20px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .e {
        list-style: none;
        margin-left: 3px;
        padding: 2px 12px;
        font-size: 15px;
        color: white;
        border-left: 1px solid white;
        font-family: 'Poppins', sans-serif;
    }

    .cname {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        padding-top:15px;
        /* margin-top: 15px; */
        width: 92vw;
        border: 1px solid rgb(59, 59, 59);
        background-color: rgb(59, 59, 59);

    }

    .c {
        color: white;
        font-size: 22px;
    }

    .end {
        margin-top:0px;
        padding-top: 0px;
        color: white;
        font-size: 10px;
    }

    .lg1 {
        width: 12px;
        height: 11px;
        margin-left: 12px;

    }

    .lg2 {
        width: 18px;
        height: 15px;
        margin-left: 12px;

    }

    .lg3 {
        width: 12px;
        height: 11px;
        margin-left: 5px;

    }

    .lg4 {
        width: 12px;
        height: 11px;
        margin-left: 5px;

    }


}